html, body {
    font-family: 'Bebas Neue', cursive;
    margin:0;
    padding:0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ================================ Mobile Nav ================================ */
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  #hamburger-icon div {
    width: 30px;
    height: 3px;
    background-color:aliceblue;
    margin: 6px 0;
    transition: 0.4s;
  }
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  .open .bar2 {
    opacity: 0;
  }
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: linear-gradient(
      112.1deg,
      #232350 11.4%,
      rgba(63, 76, 119, 1) 70.2%
    );
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #hamburger-icon ul li a {
    color: #fff;
  }
  .mobile-menu {
    display: none;
    position: fixed;
    left: 30px;
    width: 85%;
    padding: 5%;
    z-index: 3;
  }
  @media only screen and (max-width: 900px) {
    .web-nav-bar {
        display: none;
    }
    nav {
      display: none;
    }
    nav {
        display: none;
    }
    #hamburger-icon {
      display: block;
      margin-left: 20px;
      margin-top: 20px;
    }
    
      
    
  }
  /* ================================ Mobile Nav ================================ */
.card {
    height: 30rem;
    margin-bottom: 1%;
    border: aqua;
    border-style: solid;
    padding: 1%;
    
}
.card-img-top {
    
    height: 15rem;
    object-fit: cover;
}
body {
    margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
}

.web-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly
}

ul li:last-of-type {
    float: right;
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

li {
    list-style: none;
    float: left;
}
#contact-me {
    margin-right: 18px;
    margin-left: auto;
}
.footerh3 {
    font-size: 1em;
}

.menu-btn {
    background:#0080FF;
    cursor: pointer;
    margin: 0;
    padding: 0;
    
    color: white;
    outline: none;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    text-align: center;
    vertical-align: middle;
    margin-top: 1px;
 }
.dropdown-menu {
    position: relative;
    display: inline-block;
    background-color: #0080FF;
    border: none;
    padding-left: 10px;
 }
.menu-content {
    display: none;
    position: absolute;
    background-color: #017575;
    min-width: 200px;
    z-index: 3;
 }
nav {
    background-color:#0080FF;
    display: inline;
    z-index: 1;
    border-bottom: aqua;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    
 }
svg {
    width: 2.5rem;
    height: 2.5rem;
}
.contact {
    float: right;
    margin-left: auto;
    text-align: right;
 }
.links,.links-hidden{
    
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
 }
.links-hidden{
    display: block;
 }
.links{
    display: inline-block;
 }
.links-hidden:hover,.links:hover {
    background-color: black;
    color: aqua;
 }
.dropdown-menu:hover .menu-content {
    display: block;
    color: aqua;
    border-style: solid;
    border-color: aqua;
 }
.dropdown-menu:hover .menu-btn {
    background-color: black;
    color: aqua;
 }

.contact-me {
    float: right;
 }


iframe {
    display: block;
    width: 100%;
    height: 100%;
}




h1 {
    padding-top: 1em;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    padding-bottom: 1em;
    color: aqua;
    background-color: rgb(0,0,0,0.8);
    border-style: solid;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 4rem;
    border-radius: 20px;
}

.headersection {
    background-color: rgb(0, 0, 0, 0.7);
    border-style: solid;
    border-color: aqua;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

.placeholderimage {
    background-color: aqua;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    width: 100%;
    height: 40vh; 
}

.placeholderimage:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    transform: scale(1.1);
    object-fit: contain;
}

.companies {
    color: aqua;
    background-color: rgb(0,0,0,0.8);
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 4vw;
    margin-bottom: 3%;
    text-align: center;
}

.myself {
    color: aqua;
    font-size: 4vw;
}
h4 {
    color: aqua;
    
}
#wrapper
{
 margin: 0 auto;
 padding: 0px;
 text-align:center;
 width:995px;
}
#wrapper h1
{
 margin-top:50px;
 font-size:45px;
 color:#1B4F72;
}
#wrapper h1 p
{
 font-size:18px;
}
#contact_form_div
{
 width:330px;
 margin-left:320px;
 padding:10px;
 background-color:rgb(0,0,0,0.8);
 color: aqua;
    border-color: aqua;
    border-style: solid;
    border-radius: 2em;
}
#contact_form_div #contact_label
{
 margin:15px;
 margin-bottom:30px;
 font-size:25px;
 font-weight:bold;
 color: aqua;
 text-decoration:underline;
}
#contact_form_div input[type="text"]
{
 width:230px;
 height:40px;
 border-radius:2px;
 font-size:17px;
 padding-left:5px;
 border:none;
}
#contact_form_div textarea
{
 width:230px;
 height:70px;
 border-radius:2px;
 font-size:17px;
 padding: 5px;
}
#contact_form_div input[type="submit"]
{
 width:230px;
 height:40px;
 border:none;
 border-radius:2px;
 font-size:17px;
 background-color:#85C1E9;
 border-bottom:3px solid #3498DB;
 color:#1B4F72;
 font-weight:bold;
}

@media only screen and (min-width:1500px) and (max-width:2600px) {
    .card {
        height: 30rem;
        margin-bottom: 1%;
        border: aqua;
        border-style: solid;
        padding: 1%;
    }
    .card-img-top {
        height: 15rem;
        object-fit: cover;
    }
    #wrapper
    {
    width:100%;
    height: 70%;
 }
 #wrapper h1
 {
  font-size: 30px;
 }
 #contact_form_div
 {
  width:60%;
  height: 80%;
  margin-left:20%;
  
 }
 #contact_form_div input[type="text"]
 {
  width:80%;
 }
 #contact_form_div textarea
 {
  width:80%;
 }
 #contact_form_div input[type="submit"]
 {
  width:80%;
 }
}
@media only screen and (min-width:700px) and (max-width:995px)
{
 #wrapper
 {
  width:100%;
 }
 
 
 #wrapper h1
 {
  font-size:30px;
 }
 #contact_form_div
 {
  width:50%;
  margin-left:25%;
  padding-left:0px;
  padding-right:0px;
 }
 #contact_form_div input[type="text"]
 {
  width:80%;
 }
 #contact_form_div textarea
 {
  width:80%;
 }
 #contact_form_div input[type="submit"]
 {
  width:80%;
 }
}
@media only screen and (min-width:400px) and (max-width:699px)
{
    
    .web-container {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly
    }
    h1 {
        margin-left: 20%;
        margin-right: 20%;
    }
 #wrapper
 {
  width:100%;
 }
 #wrapper h1
 {
  font-size:30px;
 }
 #contact_form_div
 {
  width:60%;
  margin-left:20%;
 }
 #contact_form_div input[type="text"]
 {
  width:80%;
 }
 #contact_form_div textarea
 {
  width:80%;
 }
 #contact_form_div input[type="submit"]
 {
  width:80%;
 }
 .placeholderimage {
    height: 20vh;
 }
 .headersection {
    margin-right: 3%;
    margin-left: 3%;
 }
}
@media only screen and (min-width:100px) and (max-width:399px)
{
    
    
    .web-container {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly
    }
    #contact-me {
        margin-right: 0px;
    }
    h1 {
        margin-left: 20%;
        margin-right: 20%;
    }
    /* nav li, ul {
        display: block;
         */
    /* } */
    
    
    .container {
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .small-logo {
        padding-top: 10px;
    }
    .raycom {
        padding-top: 20px;
    }
    .zelle {
        padding-top: 20px;
    }
    .wvu {
        padding-top: 25px;
    }
    .CSF {
        padding-top: 20px;
    }
    
    .headersection {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-right: 3%;
        margin-left: 3%;
        padding-left: 1%;
        padding-right: 1%;
    }
    h1 {
        font-size: 40px !important;
    }
    .myself {
        font-size: 30px !important;
    }
    .placeholderimage {
        width: 100%;
        height: 20vh;
    }
    .subtext {
        font-size: 15px !important;
    }
    .socialmedia {
        height: 1vh;
    }
    .socials li {
        display: inline;
        flex-direction: row;
    }
    .socialmedia li {
        display: inline;
        flex-direction: row;
    }
 #wrapper
 {
  width:100%;
 }
 #wrapper h1
 {
  font-size:25px;
 }
 #contact_form_div
 {
  width:90%;
  margin-left:5%;
  padding-left:0px;
  padding-right:0px;
 }
 #contact_form_div input[type="text"]
 {
  width:80%;
 }
 #contact_form_div textarea
 {
  width:80%;
 }
 #contact_form_div input[type="submit"]
 {
  width:80%;
 }
}


.submit {
    border-radius: 10px;
    width:8rem;
    height:40px;
}

.subtext {
    color: white;
    font-size: 2vw;
    font-style:italic;
}

h4 {
    text-align: center;
}

.item {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: aqua;
    background-color: rgb(0,0,0,0.8);
    width: 100%;
    height: 100%;
}

.owl-carousel .owl-theme .owl-loaded .owl-drag{
    height: 100vh;
}
.socials {
    display: flex;
    justify-content: space-evenly;
    padding-right: 40px;
}

.socialmedia {
    height: 4vh;
    animation: bounce 1s 5s;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-12px);
    }
  }

.socialmedia:hover {
    transform: scale(1.5)
}

.leftside {
    width: 50%;
}

.rightside {
    width: 40%;
    margin: 0;
}

.footer {
    margin-top: auto;
    background-color: black;
    color: aqua;
    text-align: center;
    border-color: aqua;
    border-top: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-social-icons {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
}
.socialmedia-footer {
    height: 4vh;
    display: flex;
    justify-content: space-evenly;
    padding-right: 10px;
    padding-left: 10px;
    
}
.right-side-footer {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.footer-name
{
   align-self: center;
   justify-items: center;
   margin-right: 10px;
   border-color: aqua;
   border-style: solid;
   border-bottom: 0;
   border-top: 0;
   border-left: 0;
   padding-right: 20px;
   
   font-size: 24px;
   
}

.footer-menu {
    align-self: center;
    justify-items: center;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}
.footer-menu li {
    margin-left: 20px;
    color: white;
}
.footer-menu a {
    color: white;
    opacity: 0.8;
}

.footer-socials {
    align-self: center;
    justify-items: center;
}
.footer-socials img {
    opacity: 0.8;
}
@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
    }
    .footer-name {
        border-style: none;
        padding-right: 0;
    }
    .footer-menu li {
        margin-left: 10px;
        margin-right: 10px;
    }
    .leftside {
        width: 70%;
    }
    
}
.resume {
    text-align: center;
}
.resume img {
    border-style: solid;
    border-color: aqua;
    width: 50%;
}

.wordpress {
    color: aqua;
}

.wordpress:hover {
    background-color: white;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.carousel-inner {
    width: 48vh;
    height: 46vh;
}



.logo {
    width: 60%;
}


.container1 {
    background-color: black;
    border-style: solid;
    border-color: aqua;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.picture {
    width: 60vh;
    border-style: solid;
    border-color: aqua;
}

.quote {
    width: 200px;
    color: aqua;
    font-size: larger;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 99vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 99vh;
    transition: all 1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    margin-top: 20%;
}

.container4 {
    background-color: black;
    border-style: solid;
    border-color: aqua;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.sandwich {
    width: 40vh;
}

.sandwiches {
    width: 50vh;
}

@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }
  
  .flash {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1.7s;
  }

.card4 {
    border: 1vh solid;
    border-color: aqua;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
}


.container5 {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
}

.container {
    text-align: center;
    background-color: rgb(255,255,255,0.9);
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    z-index: 0;
    width: 60vw;
}
.customer-logos {
    overflow: inherit;
    border-top: 1px solid #353535;
    display: flex;
}
.container {
    width: 100%;
}
.raycom {
    padding-top: 20px;
}
.zelle {
    padding-top: 20px;
}
.wvu {
    padding-top: 25px;
}
.CSF {
    padding-top: 20px;
}

.small-logo {
    padding-top: 40px;
}
.slide {
    text-align: center;
    height: 100%;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    height: 50%;
}

.slick-track::before,
.slick-track::after {
    display: table;
    content: '';
}

.slick-track::after {
    clear: both;
}

.slick-track {
    padding: 1rem 0;
    display: flex;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
    color: #fff;
    filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
    border: none;
    width: 2rem;
    height: 1.5rem;
    text-indent: -10000px;
    margin-top: -16px;
    z-index: 99;
}

.slick-arrow.slick-next {
    right: -40px;
    transform: rotate(180deg);
}

.slick-arrow.slick-prev {
    left: -40px;
}




